---
layout: default
slug: example
title: Electricity Supply, Barnsley Metropolitan Borough Council
---

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">

      {% assign contracts = site.data.uk_contracts_finder | where: "release_id", "578291" %}
      {% for contract in contracts %}
        {% capture council %}{{ contract.buyer_name }}{% endcapture %}
        {% capture title %}{{ contract.tender_title }}{% endcapture %}
        {% capture href %}{{ '/example' | relative_url }}{% endcapture %}
        {% capture cost %}£{{ contract.value_human }}{% endcapture %}
        {% capture length %}{% if contract.contract_length_months == '0' %}{{ contract.contract_length_days }} day contract{% else %}{{ contract.contract_length_months }} month contract{% endif %}{% endcapture %}
        {% capture remaining %}{% if contract.contract_expires_months_from_now == '0' %}{{ contract.contract_expires_days_from_now }} days{% else %}{{ contract.contract_expires_months_from_now }} months{% endif %}{% endcapture %}
        {% capture remaining_percent %}{{ contract.contract_time_remaining_fraction | times: 100 | at_least: 1 }}{% endcapture %}

        <small class="d-block text-muted fw-bold">{{ council }}</small>
        <h2 class="h1">{{ title }}</h2>
        <p class="mt-3">{{ contract.tender_description }}</p>

        <h2 class="h5 mt-4 mt-md-5 mb-3">Time until this contract ends</h2>
        <div class="progress">
            <div class="progress-bar bg-danger" style="width: {{ remaining_percent }}%"></div>
        </div>
        <div class="d-flex flex-wrap">
            <strong class="mt-2 me-auto">{{ remaining }} left</strong>
            <span class="mt-2">{{ length }}</span>
        </div>

        <h2 class="h5 mt-4 mt-md-5 mb-3">Total cost</h2>
        <p>{{ cost }} over 4 years.</p>

        <h2 class="h5 mt-4 mt-md-5 mb-3">Estimated emissions</h2>
        <p>1,216 <abbr title="Tonnes of Carbon Dioxide equivalent">tCO2e</abbr> over 4 years – approximately <a href="https://data.climateemergency.uk/councils/barnsley-metropolitan-borough-council/">1% of the council’s emissions</a>.</p>

        <h2 class="h5 mt-4 mt-md-5 mb-3">Social value monitoring</h2>
        <p>None – we have no information about how this contract meets the requirements of the Social Value Act.</p>
        <p>Social Value metrics such as the LGA-endorsed <a href="https://socialvalueportal.com/solutions/national-toms/framework-measures/">TOMs framework</a> can help ensure sustainable, resilient impact in local communities like yours.</p>

        <h2 class="h3 mt-4 mt-md-5 mb-0">Take action</h2>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="card h-100">
                    <div class="card-body p-md-4 d-flex flex-column align-items-start">
                        <h3 class="h4 mb-3"><a href="#">Request information about this contract</a></h3>
                        <p>Ask {{ council }} whether this contract included any monitoring of emissions or social value. It’s your right to know!</p>
                        <a href="#" class="btn btn-primary mt-auto">Show me how</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-3">
                <div class="card h-100">
                    <div class="card-body p-md-4 d-flex flex-column align-items-start">
                        <h3 class="h4 mb-3"><a href="#">Find out what comes next</a></h3>
                        <p>This contract expires in {{ remaining }}. Does the council have any plans for what replaces it? Do those plans take into account the potential emissions impact of the service provision? Ask your local climate councillor to find out.</p>
                        <a href="#" class="btn btn-primary mt-auto">Send a message</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h3 mt-4 mt-md-5 mb-0">Related case studies</h2>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="">
                    <div class="card-body p-md-4 d-flex flex-column align-items-start">
                        <h3 class="h4 mb-3"><a href="#" class="stretched-link">Some fascinating case study goes here</a></h3>
                        <p class="mb-0">It will be about how a public authority has procured an electricity contract, similar to this one, while balancing cost with emissions and social value.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mt-3">
                <div class="card h-100">
                    <img src="https://via.placeholder.com/600x300" class="card-img-top" alt="">
                    <div class="card-body p-md-4 d-flex flex-column align-items-start">
                        <h3 class="h4 mb-3"><a href="#" class="stretched-link">Another relevant case study goes here</a></h3>
                        <p class="mb-0">It will be about how a public authority has procured an electricity contract, similar to this one, while balancing cost with emissions and social value.</p>
                    </div>
                </div>
            </div>
        </div>

      {% endfor %}

        <div style="height: 5rem"></div>
    
    </div>
</div>
