---
layout: default
---

<header role="banner" class="py-4 py-md-5">
    <div class="container text-center">
        <h1 class="fw-boldest display-4">Contract Countdown</h1>
        <nav aria-label="Site">
            <ul class="nav justify-content-center">
                {% include nav-item.html href="#" label="Contracts" %}
                {% include nav-item.html href="#" label="Suppliers" %}
                {% include nav-item.html href="#" label="Why does this matter?" %}
            </ul>
        </nav>
    </div>
</header>

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">

        <form class="row">
            <fieldset class="col-sm-auto me-auto">
                <label for="council-search" class="form-label">Search by postcode or council name</label>
                <div class="search-input">
                    {% include icons/search.html %}
                    <input type="search" id="council-search" class="form-control">
                </div>
            </fieldset>
            <fieldset class="col-sm-auto">
                <label for="sort" class="form-label">Sort by</label>
                <select id="sort" class="form-select">
                    <option>Time remaining</option>
                    <option>Total cost</option>
                    <option>Estimated emissions</option>
                    <option>Longest duration</option>
                </select>
            </fieldset>
        </form>

        {% include contract-card.html council="Liverpool City Council" title="Household Waste Collection Service" href="#" cost="£5,679,145" length="13 year contract" remaining="3 months" remaining_percent="1" %}

        {% include contract-card.html council="Liverpool City Council" title="Household Waste Collection Service" href="#" cost="£5,679,145" length="13 year contract" remaining="3 months" remaining_percent="1" %}

        {% include contract-card.html council="Liverpool City Council" title="Household Waste Collection Service" href="#" cost="£5,679,145" length="13 year contract" remaining="3 months" remaining_percent="1" %}

        {% include contract-card.html council="Liverpool City Council" title="Household Waste Collection Service" href="#" cost="£5,679,145" length="13 year contract" remaining="3 months" remaining_percent="1" %}

        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active" aria-current="page""><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>
</div>
