<header role="banner" class="py-4 py-md-5">
    <div class="container text-center">
        <h1 class="fw-boldest display-4">Contract Countdown</h1>
        <p class="lead mx-auto" style="max-width: 31em;">
            Together we can spot expiring contracts from UK local authorities, to make sure they’re replaced with something better!
        </p>
        <nav aria-label="Site">
            <ul class="nav justify-content-center">
                {% include nav-item.html href="/" label="Contracts" %}
                {% include nav-item.html href="/emails" label="Email alerts" %}
                {% include nav-item.html href="/why" label="Why does this matter?" %}
            </ul>
        </nav>
    </div>
</header>
