{% load page_filter %}
{% load humanize %}

        {% for tender in tenders %}
            <div class="tender-card mt-4 mt-md-5 p-3 p-md-4 bg-body border rounded position-relative">
                <small class="d-block text-muted fw-bold">{{ tender.council.name }}</small>
                <h2><a class="stretched-link" href="{% url 'contract' tender.uuid_url_safe %}">{{ tender.title }}</a></h2>
                <div class="row gx-md-5 mt-3 mt-md-4">
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Total cost</small>
                        <span class="h4">£{{ tender.value|floatformat:"0"|intcomma }}</span>
                    </div>
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Estimated emissions</small>
                        <span class="h4">??</span>
                    </div>
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Social value</small>
                        <span class="h4">??</span>
                    </div>
                </div>
                {% for award in tender.awards.all %}
                <div class="progress mt-3 mt-md-4">
                    <div class="progress-bar bg-danger" style="width: {{ award.contract_percent_complete }}%"></div>
                </div>
                <div class="d-flex flex-wrap">
                {% if award.contract_ended %}
                    <strong class="mt-2 me-auto">Ended on {{ award.end_date }}</strong>
                {% elif not award.contract_started %}
                    <strong class="mt-2 me-auto">Starts on {{ award.start_date }}</strong>
                {% else %}
                    <strong class="mt-2 me-auto">{{ award.contract_time_remaining_desc }}</strong>
                {% endif %}
                    <span class="mt-2">{{ award.contract_length_desc }}</span>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center mt-5">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=1 %}">First</a></li>
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.num_pages %}">Last</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
