.search-input {
    position: relative;

    svg {
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 0.75rem;
        top: 50%;
        margin-top: -0.5rem;
        color: $gray-600;
        pointer-events: none;
        z-index: 1;
    }

    .form-control {
        padding-left: 2.5rem;
    }
}
