// Color system

$blue: #0263F3;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Container padding

// Components

// Typography

$headings-font-weight: 900 !default;

// Tables

// Buttons + Forms

// Buttons

// Forms

$form-label-font-weight: bold;

$form-check-margin-bottom: 0.25rem;

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
