// Color system

$blue: #0263F3;
$red: #dc3545;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Container padding

// Components

// Typography

$headings-font-weight: 900 !default;

// Tables

// Buttons + Forms

// Buttons

// Forms

$form-label-font-weight: bold;

$form-check-margin-bottom: 0.25rem;

// Form validation

$form-feedback-invalid-color: $red;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

// We don’t care about styling .is-valid fields, just .is-invalid ones.
$form-validation-states: (
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
);

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
