{% extends "procurement/base.html" %}

{% load humanize %}
{% load django_bootstrap5 %}
{% load page_filter %}

{% block content %}

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 60em">
        <h1 class="h2 text-center">Write your message</h1>
        <p class="text-center">Writing to {{ representative.full_name }}</p>
        {% if contract %}
        <div class="tender-card mt-4 mt-md-5 p-3 p-md-4 mb-4 bg-body border rounded position-relative">
            <small class="d-block text-muted fw-bold">{{ contract.council.name }}</small>
            <h2><a class="stretched-link" href="{% url 'contract' contract.uuid_url_safe %}">{{ contract.title }}</a></h2>
            <div class="row gx-md-5 mt-3 mt-md-4">
                <div class="col-sm-auto">
                    <small class="d-block text-muted fw-bold">Total cost</small>
                    <span class="h4">£{{ contract.value|floatformat:"0"|intcomma }}</span>
                </div>
                <div class="col-sm-auto">
                    <small class="d-block text-muted fw-bold">Estimated emissions</small>
                    <span class="h4">??</span>
                </div>
                <div class="col-sm-auto">
                    <small class="d-block text-muted fw-bold">Social value</small>
                    <span class="h4">??</span>
                </div>
            </div>
            {% for award in contract.awards.all %}
            <div class="progress mt-3 mt-md-4">
                <div class="progress-bar bg-danger" style="width: {{ award.contract_percent_complete }}%"></div>
            </div>
            <div class="d-flex flex-wrap">
            {% if award.contract_ended %}
                <strong class="mt-2 me-auto">Ended on {{ award.end_date }}</strong>
            {% elif not award.contract_started %}
                <strong class="mt-2 me-auto">Starts on {{ award.start_date }}</strong>
            {% else %}
                <strong class="mt-2 me-auto">{{ award.contract_time_remaining_desc }}</strong>
            {% endif %}
                <span class="mt-2">{{ award.contract_length_desc }}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <h5>Instructions</h4>
                    <p class="mb-0" style="font-size:0.9em;">Please be polite, concise and to the point; if you abuse your councillor you devalue the service for all users.</p>
                    <hr>
                    <p class="mb-0" style="font-size:0.9em;">Use your own words; we block copied-and-pasted identical messages.</p>
                    <hr>
                    <p class="mb-0" style="font-size:0.9em;">Something contract-specific here, probably.</p>
                </div>
            </div>
            <div class="col-md-9">
                <form method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% bootstrap_field form.message show_label="skip" %}
                    <div class="row mt-3">
                        <fieldset class="col-md-6">
                            <legend class="h6 text-muted mb-3">About You</legend>
                            {% bootstrap_field form.name %}
                            {% bootstrap_field form.email %}
                            {% bootstrap_field form.email_check %}
                            {% bootstrap_field form.phone %}
                        </fieldset>
                        <fieldset class="col-sm-6">
                            <legend class="h6 text-muted mb-3">Your Address</legend>
                            {% bootstrap_field form.address_1 %}
                            {% bootstrap_field form.address_2 %}
                            {% bootstrap_field form.town_city %}
                            <div class="row">
                                <div class="col-sm-6">
                                    {% bootstrap_field form.county %}
                                </div>
                                <div class="col-sm-6">
                                    {% bootstrap_field form.pc %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <input type="submit" class="btn btn-primary ml-auto mt-3" value="Preview and Send">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}
