{% extends "procurement/base.html" %}

{% load humanize %}
{% load bootstrap4 %}
{% load page_filter %}

{% block content %}

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">

        <div class="mx-auto" style="max-width: 36em">
            <h1 class="h2 text-center">Get email alerts throughout the lifecycle of council contracts</h1>
            <p class="text-center">We will email you 18, 12, 6, and 3 months before a council contract expires, as well as on the day of expiry.</p>
        </div>

       <form method="get">
        {{ filter.form.classification }}
        {{ filter.form.council }}
        <input type="submit">
        </form>

        <div style="height: 5rem"></div>
        {% include 'procurement/includes/tender_list.html' %}
    </div>
</div>

{% endblock %}

{% block extrafooterscript %}
{% include 'procurement/includes/location-search-autocomplete.html' %}
{% endblock %}