{% extends "procurement/base.html" %}

{% load humanize %}
{% load bootstrap4 %}
{% load page_filter %}

{% block content %}

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">

        <div class="mx-auto" style="max-width: 36em">
            <h1 class="h2 text-center">Get email alerts throughout the lifecycle of council contracts</h1>
            <p class="text-center">We will email you 18, 12, 6, and 3 months before a council contract expires, as well as on the day of expiry.</p>
        </div>

       <form method="get" class="mt-4 mt-md-5 p-3 p-md-4 bg-body border rounded">
        <div class="row mb-3">
            <fieldset class="col-sm-6">
                <legend class="form-label" style="font-size: 1em; float: none;">I’m interested in contracts from</legend>
                {% for choice in council_choice_form.council_choice %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{ choice.choice_label}}" id="{{ choice.id_for_label }}" name="source"{% if council_choice == choice.choice_label %} checked="checked"{% endif %}>
                    <label class="form-check-label" for="{{ choice.id_for_label }}">
                        {{ choice.choice_label }}
                    </label>
                </div>
                {% if choice.id_for_label == "id_council_choice_1" %}
                <div class="ms-4 me-3 mt-2 mb-3" data-show-when-checked="id_council_choice_1">
                    <label class="form-label visually-hidden" for="region">Region</label>
                    {{ filter.form.region }}
                </div>
                {% endif %}
                {% if choice.id_for_label == "id_council_choice_2" %}
                <div class="ms-4 me-3 mt-2 mb-3" data-show-when-checked="id_council_choice_2">
                    {{ filter.form.council_exact.errors }}
                    <label class="form-label visually-hidden" for="search">Council name or postcode</label>
                    <div class="search-input">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor" class="" role="presentation"><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>
                        {{ filter.form.council_exact }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </fieldset>
            <fieldset class="col-sm-6">
                <legend class="form-label" style="font-size: 1em; float: none;">In only these categories</legend>
                {% for choice in filter.form.classification %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ choice.choice_label}}" id="{{ choice.id_for_label }}" name="classification"{% if choice.choice_label in classifications %} checked{% endif %}>
                    <label class="form-check-label" for="{{ choice.id_for_label }}">
                        {{ choice.choice_label }}
                    </label>
                </div>
                {% endfor %}
                <p><a href="#">Why these categories?</a></p>
            </fieldset>
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <input type="email" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label" for="frequency">How often do you want to be alerted?</label>
            {{ filter.form.notification_frequency }}
        </div>
        <input type="submit">
        </form>

        <div style="height: 5rem"></div>
        {% include 'procurement/includes/tender_list.html' %}
    </div>
</div>

{% endblock %}

{% block extrafooterscript %}
{% include 'procurement/includes/council-autocomplete.html' %}
{% endblock %}