{% extends "procurement/base.html" %}

{% load humanize %}
{% load bootstrap4 %}

{% block content %}

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">

        <form class="row" action="{% url 'location_results' %}">
            <fieldset class="col-sm-auto me-auto">
                <label for="council-search" class="form-label">Search by postcode or council name</label>
                <div class="search-input">
                    <!-- { % include icons/search.html %} -->
                    <input type="search" name="pc" id="council-search" class="form-control">
                </div>
            </fieldset>
        </form>
        <form class="row" action="" method="GET">
            <fieldset class="col-sm-auto">
                {% bootstrap_field filter.form.sort %}
                <input type="submit">
            </fieldset>

        <details>
            <summary class="my-3 my-md-4 text-center">More filters</summary>
            <div class="row">
                <fieldset class="col-sm-6">
                    <legend class="form-label" style="font-size: 1em; float: none;">Categories</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Fuel" id="category-1" name="classification"{% if "Fuel" in classifications %} checked{% endif %}>
                        <label class="form-check-label" for="category-1">Fuel &amp; energy</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Refuse" id="category-2" name="classification"{% if "Refuse" in classifications %} checked{% endif %}>
                        <label class="form-check-label" for="category-2">Refuse &amp; waste</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Sewage" id="category-3" name="classification"{% if "Sewage" in classifications %} checked{% endif %}>
                        <label class="form-check-label" for="category-3">Sewage</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Catering" id="category-4" name="classification"{% if "Catering" in classifications %} checked{% endif %}>
                        <label class="form-check-label" for="category-4">Catering</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Construction work" id="category-5" name="classification"{% if "Construction work" in classifications %} checked{% endif %}>
                        <label class="form-check-label" for="category-5">Construction Work</label>
                    </div>
                    <p><a href="#">Why these categories?</a></p>
                </fieldset>
                <fieldset class="col-sm-6">
                    <legend class="form-label" style="font-size: 1em; float: none;">Show contracts with</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="" name="awards__end_date_after" id="limit-any" checked>
                        <label class="form-check-label" for="limit-any">any time left</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ 6_months }}" name="awards__end_date_after" id="limit-6"{% if filter_end_date == 6_months %} checked{% endif %}>
                        <label class="form-check-label" for="limit-6">at least 6 months left</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ 12_months }}" name="awards__end_date_after" id="limit-12"{% if filter_end_date == 12_months %} checked{% endif %}>
                        <label class="form-check-label" for="limit-12">at least 12 months left</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ 18_months }}" name="awards__end_date"_after id="limit-18"{% if filter_end_date == 18_months %} checked{% endif %}>
                        <label class="form-check-label" for="limit-18">at least 18 months left</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="{{ 24_months }}" name="awards__end_date_after" id="limit-24"{% if filter_end_date == 24_months %} checked{% endif %}>
                        <label class="form-check-label" for="limit-24">at least 24 months left</label>
                    </div>
                </fieldset>
            </div>
        </details>
        </form>

        {% for tender in tenders %}
            <div class="mt-4 mt-md-5 p-3 p-md-4 bg-body border rounded position-relative">
                <small class="d-block text-muted fw-bold">{{ tender.council.name }}</small>
                <h2><a class="stretched-link" href="{% url 'contract' tender.uuid_url_safe %}">{{ tender.title }}</a></h2>
                <div class="row gx-md-5 mt-3 mt-md-4">
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Total cost</small>
                        <span class="h4">£{{ tender.value|floatformat:"0"|intcomma }}</span>
                    </div>
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Estimated emissions</small>
                        <span class="h4">??</span>
                    </div>
                    <div class="col-sm-auto">
                        <small class="d-block text-muted fw-bold">Social value</small>
                        <span class="h4">??</span>
                    </div>
                </div>
                {% for award in tender.awards.all %}
                <div class="progress mt-3 mt-md-4">
                    <div class="progress-bar bg-danger" style="width: {{ award.contract_percent_remaining }}%"></div>
                </div>
                <div class="d-flex flex-wrap">
                    <strong class="mt-2 me-auto">{{ award.contract_time_remaining_desc }}</strong>
                    <span class="mt-2">{{ award.contract_length_desc }}</span>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center mt-5">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
