{% extends "procurement/base.html" %}

{% load humanize %}
{% load django_bootstrap5 %}
{% load page_filter %}

{% block content %}

<div class="bg-gray-100 border-top py-4 py-md-5">
    <div class="container" style="max-width: 44em">
        {% include 'procurement/includes/tender_filter.html' %}
        </form>

        {% include 'procurement/includes/tender_list.html' %}
    </div>
</div>

{% endblock %}

{% block extrafooterscript %}
{% include 'procurement/includes/location-search-autocomplete.html' %}
{% endblock %}
